button, .button {
    padding: 0.875rem 2.1875rem;
    cursor: pointer;
    border-radius: 50px;
    background: linear-gradient(to right, $lime-green, $bright-cyan);
    font-size: $font-xsl;
    color: $white;
    border: 0;
    font-weight: 600;
    transition: opacity 200ms ease-in-out;
    
    &:hover {
        opacity: 0.75;
    }
}